/**
 * Gimme some SaSS!
 */

@import '../common';

.message-backend {
	padding: 3rem 2rem 1rem;
	border: 2px solid rebeccapurple;
	margin: 2rem;
}

.wp-block-embed,
.is-style-peter-harper,
.wp-block-embed.is-style-peter-harper {
		background: salmon;

}
#editor > div > div > div > div.edit-post-sidebar > div.components-panel > div > div:nth-child(2) > div > div > div > div.editor-block-styles__item-preview