/* #editor > div > div > div > div.edit-post-sidebar > div.components-panel > div > div:nth-child(2) > div > div > div > div.editor-block-styles__item-preview {background:red}
#editor > div > div > div > div.edit-post-sidebar > div.components-panel > div > div:nth-child(2) > div > div > div > div.editor-block-styles__item-preview {background:url('https://monosnap.com/image/llusm1ynaL3mDzE2lqK2WtXiPmLKp6.png');} */
.is-style-peter-harper {
	border:1rem solid rebeccapurple;
	margin-bottom: 0;
}
.spotify-container {
	background: salmon;
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-columns: repeat(2,1fr);
}