
.wp-block-embed-spotify.wp-block-embed.is-type-rich.is-provider-spotify.is-style-peter-harper {
	border:1rem solid rebeccapurple;
}
.spotify-container {
	background: salmon;
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}