.high-contrast .wp-block-code,
.high-contrast .wp-block-code textarea,
.wp-block-code.high-contrast {
    background: black;
    color: white;
}

#post-15 > div > figure {
	border: 1rem solid salmon;
}